print("1 p1")
print("2 p2")
print("3 t1")
print("4 t2")
a=int(input("enter the value you want: "))

if a==1:
  a=float(input("p2: "))
  b=float(input("t1: "))
  c=float(input("t2: "))
  d=b*a/c
  print("The value of P1 is :",d)

elif a==2:
  a=float(input("t2: "))
  b=float(input("p1: "))
  c=float(input("t1: "))
  d=x*y/z
  print("The value of P2 is: ",d )

elif a==3:
  a=float(input("p1: "))
  b=float(input("p2: "))
  c=float(input("t2: "))
  d=x*y/z
  print("The value of t1 is: ",d )


elif a==4:
  a=float(input("p2: "))
  b=float(input("p1: "))
  c=float(input("t1: "))
  print("The value of T2 is: ",d )
